<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/views/home.ejs 파일</title>
</head>
<body>
    <h1><%=data.title%></h1>
    <h4>환영합니다 <%=data.name%> 아~</h4>
</body>
</html>