<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/views/home.ejs 파일</title>
</head>
<body>
    <h1><%=data.title%></h1>
    <h4>환영합니다 <%=data.name%> 아~</h4>
    
    <a href="/public/profile_form.html">프로필 입력화면(GET)</a><br/>
    <a href="/public/profile_form_post.html">프로필 입력화면(POST)</a><br/>
    <a href="/profile">프로필 보기</a>
</body>
</html>