<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/views/profile.ejs</title>
</head>
<body>
    <h1><%=data.title%></h1>
    <h1><%=data.name%>의 프로필입니다~</h1>
    <h2>경력 : 홈페이지 제작 30년</h2>
    <h3>학력 : 마법공 학사</h3>
</body>
</html>