<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/views/profile.ejs</title>
</head>
<body>
    <h1>프로필 상세</h1>
    <h1>성명 : <%=data.name%></h1>
    <h2>경력 : <%=data.kr%></h2>
    <h3>학력 : <%=data.hr%></h3>
    <h3>자격 : <%=data.jk%></h3>
</body>
</html>